*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.d-flex{display: flex;}
.jcsb{justify-content: space-between;}
.mb-10{margin-bottom: 10px;}
.ml-70{margin-left: 70px;}
.ml-702{margin-left: 108px;}

#ine{
    width: 700px;
}

.padre{
    position: relative;
}

.vertline {
    position: absolute;
    height: 450px;
    margin-left: 0;
    background-color: #dd8341;
    top: 0;
    left: 0;
    animation:lineup 1.5s forwards;
    transform: translateX(730px);
    transition: 1.5s linear;
    box-shadow: 0 0 4px red;
}
   
@keyframes lineup {
    0% {
      width: 4px;
      opacity: 1.0;
    }
    1%{
        opacity: 0.0;
    }
    2%{
        opacity: 1.0;
    }
    3%{
        opacity: 0.0;
    }
    4%{
        opacity: 1.0;
    }
    5%{
        opacity: 0.0;
    }
    6%{
        opacity: 1.0;
    }
    7%{
        opacity: 0.0;
    }
    8%{
        opacity: 1s.0;
    }
    9%{
        opacity: 0.0;
    }
    10%{
        opacity: 1.0;
    }
    11%{
        opacity: 0.0;
    }
    12%{
        opacity: 1.0;
    }
    13%{
        opacity: 0.0;
    }
    14%{
        opacity: 1.0;
    }
    15%{
        opacity: 0.0;
    }
    16%{
        opacity: 1.0;
    }
    17%{
        opacity: 0.0;
    }
    18%{
        opacity: 1s.0;
    }
    19%{
        opacity: 0.0;
    }
    20%{
        opacity: 1.0;
    }
    21%{
        opacity: 0.0;
    }
    22%{
        opacity: 1.0;
    }
    23%{
        opacity: 0.0;
    }
    24%{
        opacity: 1.0;
    }
    25%{
        opacity: 0.0;
    }
    26%{
        opacity: 1.0;
    }
    27%{
        opacity: 0.0;
    }
    28%{
        opacity: 1s.0;
    }
    29%{
        opacity: 0.0;
    }
    30%{
        opacity: 1.0;
    }
    31%{
        opacity: 0.0;
    }
    32%{
        opacity: 1.0;
    }
    33%{
        opacity: 0.0;
    }
    34%{
        opacity: 1.0;
    }
    35%{
        opacity: 0.0;
    }
    36%{
        opacity: 1.0;
    }
    37%{
        opacity: 0.0;
    }
    38%{
        opacity: 1s.0;
    }
    39%{
        opacity: 0.0;
    }
    40%{
        opacity: 1.0;
    }
    41%{
        opacity: 0.0;
    }
    42%{
        opacity: 1.0;
    }
    43%{
        opacity: 0.0;
    }
    44%{
        opacity: 1.0;
    }
    45%{
        opacity: 0.0;
    }
    46%{
        opacity: 1.0;
    }
    47%{
        opacity: 0.0;
    }
    48%{
        opacity: 1s.0;
    }
    49%{
        opacity: 0.0;
    }
    50%{
        opacity: 1.0;
    }
    51%{
        opacity: 0.0;
    }
    52%{
        opacity: 1.0;
    }
    53%{
        opacity: 0.0;
    }
    54%{
        opacity: 1.0;
    }
    55%{
        opacity: 0.0;
    }
    56%{
        opacity: 1.0;
    }
    57%{
        opacity: 0.0;
    }
    58%{
        opacity: 1s.0;
    }
    59%{
        opacity: 0.0;
    }
    60%{
        opacity: 1.0;
    }
    61%{
        opacity: 0.0;
    }
    62%{
        opacity: 1.0;
    }
    63%{
        opacity: 0.0;
    }
    64%{
        opacity: 1.0;
    }
    65%{
        opacity: 0.0;
    }
    66%{
        opacity: 1.0;
    }
    67%{
        opacity: 0.0;
    }
    68%{
        opacity: 1s.0;
    }
    69%{
        opacity: 0.0;
    }
    70%{
        opacity: 1.0;
    }
    71%{
        opacity: 0.0;
    }
    72%{
        opacity: 1.0;
    }
    73%{
        opacity: 0.0;
    }
    74%{
        opacity: 1.0;
    }
    75%{
        opacity: 0.0;
    }
    76%{
        opacity: 1.0;
    }
    77%{
        opacity: 0.0;
    }
    78%{
        opacity: 1.0;
    }
    79%{
        opacity: 0.0;
    }
    80%{
        opacity: 1.0;
    }
    81%{
        opacity: 0.0;
    }
    82%{
        opacity: 1.0;
    }
    83%{
        opacity: 0.0;
    }
    84%{
        opacity: 1.0;
    }
    85%{
        opacity: 0.0;
    }
    86%{
        opacity: 1.0;
    }
    87%{
        opacity: 0.0;
    }
    88%{
        opacity: 1s.0;
    }
    89%{
        opacity: 0.0;
    }
    90%{
        opacity: 1.0;
    }
    91%{
        opacity: 0.0;
    }
    92%{
        opacity: 1.0;
    }
    93%{
        opacity: 0.0;
    }
    94%{
        opacity: 1.0;
    }
    95%{
        opacity: 0.0;
    }
    96%{
        opacity: 1.0;
    }
    97%{
        opacity: 0.0;
    }
    98%{
        opacity: 1s.0;
    }
    99%{
        opacity: 0.0;
    }
    100% {
      width: 4px;
      opacity: 0.0;
    }
}

#contenedor-ine{
    background-color:#C3B8B4;
    width: 700px;
    height: 400px;
    margin-bottom:20px;
    border-radius: 12px;
}

.parte-arriba{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-eum{
    width: 110px;
}

#mexico-arriba{
    position: fixed;
    margin-left: 115px;
}

#instituto-arriba{
    position: fixed;
    margin-left: 210px;
}

.parte-abajo{
    width: 100%;
    height: 80%;
    display: flex;
}

.imagen-perfil{
    width: 32%;
    max-width: 32%;
    align-items: center;
    display: flex;
}

#img-perfil{
    margin-left: 13px;
    width: 180px;
    height: 193px;
}

.texto{
    width: 70%;
    max-width: 70%;
}

@keyframes faded {
    0%{
        opacity:0;
        -webkit-transform:scale(3);
        -ms-transform:scale(3);
        transform:scale(3);
    }
    100%{
        opacity:1;
        -webkit-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1);}
  }

#nombre-datos{
    position: relative;
    margin-bottom: 13px;
    display: inline-block;
    vertical-align: middle;
}

#nombre-datos::after{
    content: '';
    margin: -5px;
    background-color: rgba(212, 53, 79, 0.15);
    border: 2px solid #d4354f;
    position: absolute;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 0;
    opacity: 0;
    animation: faded 250ms ease-out 1400ms forwards;
}

#domicilio-datos{
    position: relative;
    display: block;
    margin-bottom: 7px;
    vertical-align: middle;
    width: max-content;
}

#domicilio-datos::after{
    content: '';
    background-color: rgba(71, 103, 208, 0.15);
    border: 2px solid #4767d0;
    position: absolute;
    margin: -5px;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 0;
    opacity: 0;
    animation: faded 250ms ease-out 1650ms forwards;
}

#curp{
    position: relative;
    display: block;
    vertical-align: middle;
    width: max-content;
}

#curp::after{
    content: '';
    background-color: rgba(221, 79, 223, 0.15);
    border: 2px solid #dd4fdf;
    margin: -5px;
    position: absolute;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 0;
    opacity: 0;
    animation: faded 250ms ease-out 1900ms forwards;
}


/* #domicilio-datos{
    background-color: rgba(71, 103, 208, 0.15);
    border: 2px solid #4767d0;
    width: max-content;
    margin-bottom: 5px;
}

#curp{
    background-color: rgba(221, 79, 223, 0.15);
    border: 2px solid #dd4fdf;
    width: max-content;
} */

#anio{
    margin-right: 15px;
}

.texto-pequeño{
    font-size: 12px;
}